* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7CC6F8;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 10vh auto;
    width: 40%;
    padding: 5%;
    background: #fff;
    border-radius: 10px;
    line-height: 3em;
    text-align: center;
}

#errorOutput {
    color: red;
}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    padding: 2% 6%;
    display: block;
    margin: auto;
}